.container{
    .heading{
        font-size: 25px;
    }
    .tab{
        width: 350px;
    }

    .input{
        display:flex;
        &-style{
            margin-right: 15px;
        }
    }

    ul{
        text-align: start;
        padding: 0;
        li{
            padding: 4px 0;
            display: flex;
            justify-content: space-between;
            .checkbox{
                margin-right: 5px;
            }
        }
        
    }
   
}